CMakeCache.txt
CMakeFiles/
CMakeLists.txt.user
Makefile
cmake_install.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
_CPack_Packages/
homesec-server
homesec-server.cbp
homesec-server_*.deb
install_manifest.txt
.cproject
.project
homesec-server.kdevelop
homesec-server.kdevelop.filelist
homesec-server.kdevses
homesec-server.layout
.kdev4/
homesec-server.kdev4
build/
liblogin_details.so

