<% c++ #include "login_details.hpp" %>
<% skin login_details_skin %>
<% view LoginPageContent uses content::LoginPageContent %>
<% template render() %>
<html>
  <body>
  	<h1><Welcome to Homesec Server </h1>
  	<form>
    	<h1><%= text %> World!</h1>
	</form>
  </body>
</html>
<% end template %>
<% end view %>
<% end skin %>
