<% c++ #include "login_details.hpp" %>
<% skin login_details_skin %>
<% view LoginPageContent uses content::LoginPageContent %>
<% template render() %>
<html>
  <body>
	<h1><%= text %> World!</h1>
  	<h1><Welcome to Homesec Server </h1>
  	<h2>If you already have an account, login here</h2>
  	<form method="post" action="" id="login_form">
	  <% form as_p loginForm %>
	</form>
	<h2>To register a new account:</h2>
  	<form method="post" action="" id="newuser_form">
	  <% form as_p newUserForm %>
	</form>
  </body>
</html>
<% end template %>
<% end view %>
<% end skin %>
